/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import url('https://fonts.googleapis.com/css?family=Lalezar');

$dark: #4A4A4A;
$red: #EE543A;
$green: #71BA51;
$gray: #BDBDBD;

/* GLOBAL STYLES*/
body.primary{
	font-family: 'Roboto', sans-serif;
	background-color: #F5F5F1;
	color: $dark;
    padding-top: 90px;
}

a{
	&:hover{
		text-decoration: none;
	}

}

.wrapper{
	background: #fff;
	border: 1px solid #E1E3DF;
	border-radius: 4px;
}

.seller-each{
	margin-bottom: 20px;
}

.danger{
	color: $red!important;
}

.container{
	width: 75%;
}

.center-block{
	float: none;
}

.navbar{
	border: none;
	background-color: #fff;
	height: 90px;
	font-size: 14px;
	border-bottom: 1px solid #f7f7f7;
 	z-index: 20;
	a{
		color: $dark!important;
        padding-top: 0px!important;
        &:hover{
        	opacity: 0.6;
        }
	}
	
	.navbar-brand{
		font-size: 21px;
		line-height: 90px;
		color: #FF7416!important;
	}

	.input-group {
    	margin-top: 28px;
	}
}

.navbar .nav > li > a {
  line-height: 90px;
  padding-bottom:0px!important;
}

.box{
	background-color: #FFF;
	padding: 20px;
	border: 1px solid #E1E3DF;
	border-radius: 3px;
}

.seller{
	color: $gray!important;
}

.gray{
	color: $gray;
}

.order-wrapper{
	margin-bottom: 20px;
}

.product-wrapper{
	background-color: #FFF;
	border: 1px solid #E1E3DF;
	border-radius: 3px;
	color: $dark;
	text-decoration: none!important;
	img{
		width: 100%;
		height: auto
	}
}

.price{
	color: $green;
}

.logo{
	width: 16%;
	height: auto;
}

.banner{
	position: relative;
	h2{
		font-size: 30px;
		color: #FFF;
		padding: 20px;
		background-color: #000;
		opacity: 0.8;
	}
	img{
		width: 100%;
		height: auto;
	}
	.banner-text{
		position: absolute;
		background-color: #FF7416;
		opacity: 0.8;
		width: 100%;
		bottom: 0;
		color: #FFF;
		margin: 0 auto;
		padding-bottom: 6px;
        text-align: center;
	}
}

.btn{
	border: none!important;
	border-radius: 3px!important;
	padding-top: 7px;
	padding-bottom: 7px;
}

.btn-primary{
	background: #FA6367;
	&:hover{
		background: #EB5055;
		opacity: 0.9;
	}
}

.success{
	color: #71BA51;
}

.btn-secondary{
	background: #FF7416;
	color: #fff;
	&:hover{
		background: #FF7416;
		color: #fff;
		opacity: 0.9;
	}
}

.space-bottom{
	padding-bottom: 20px;
}

/* FLASH STYLES */
.alert{
  position: absolute;
  top: 0;
  height: 90px;
  width: 100%;
  opacity: 0.9;
  z-index: 999;
  padding:0px!important;
  ul{
    padding:0px!important;
  }
  li{
    list-style-type: none;
    text-align: center;
    line-height: 90px;
  }
}
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

input[type="text"], input[type="number"], input[type="email"], input[type="password"]{
	background-color: #f7f7f7;
	border: none;
}

textarea{
	background-color: #f7f7f7!important;
	border: none!important;
	resize: none;
}

.box-decorated{
	padding: 20px;
	background: #A0A08B;
	color: #FFF;
	border-radius: 2px;
}

.user-wrapper{
	border: 1px solid #f7f7f7;
	padding: 20px;
}

/* Footer Styles */
footer{
	padding: 20px 0;
	padding-top: 30px;
	text-align: center;
	border-top: 1px solid #E0E4CC; 
	margin-top: 60px;

	.footer-nav{
		margin-bottom: 14px;
		font-size: 12px;
		h4{
			font-size: 16px;
		}
		ul{
			list-style: none;
			padding-left: 0;
			li{
				padding-left: 0;
					padding-bottom: 10px;
				a{
					color: $dark;
				}
			}
		}
	}
}