/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import url('https://fonts.googleapis.com/css?family=Lalezar');

$red: #EE543A;

body{
	font-family: 'Roboto', sans-serif;
	background-color: #F5F5F1;
	color: #54573A;
}

.container{
	width: 75%;
}

.navbar{
	border: none;
	background-color: $red;
	height: 90px;
	font-size: 16px;
	a{
		color: #fff!important;
		line-height: 90px!important;
        padding-top: 0px!important;
        &:hover{
        	opacity: 0.6;
        }
	}
	
	.navbar-brand{
		font-family: 'Lalezar', cursive;
		font-size: 28px;
	}
}

.shadow{
	border-bottom: 1px solid #f4f4f4;
}

.box{
	background-color: #FFF;
	padding: 20px;
	border: 1px solid #E1E3DF;
}