/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import url('https://fonts.googleapis.com/css?family=Lalezar');

$red: #EE543A;

body{
	font-family: 'Roboto', sans-serif;
	background-color: #F5F5F1;
	color: #54573A;
}

.wrapper{
	background: #fff;
	border: 1px solid #E1E3DF;
	border-radius: 4px;
}

.danger{
	color: $red!important;
}

.container{
	width: 75%;
}

.center-block{
	float: none;
}

.navbar{
	border: none;
	background-color: $red;
	height: 90px;
	font-size: 16px;
	margin-bottom: 20px;
 	z-index: 20;
	a{
		color: #fff!important;
        padding-top: 0px!important;
        &:hover{
        	opacity: 0.6;
        }
	}
	
	.navbar-brand{
		font-family: 'Lalezar', cursive;
		font-size: 26px;
		line-height: 90px;
	}

	.input-group {
    	margin-top: 28px;
	}
}

.navbar .nav > li > a {
  line-height: 90px;
  padding-bottom:0px!important;
}

.box{
	background-color: #FFF;
	padding: 20px;
	border: 1px solid #E1E3DF;
}

.product-wrapper{
	background-color: #FFF;
	border: 1px solid #E1E3DF;
	margin-bottom: 24px;
	img{
		width:100%;
		height: auto;
	}
}

.banner{
	position: relative;
	h2{
		font-size: 36px;
		color: #50514A;
	}
	img{
		width: 100%;
		height: auto;
	}
	.headline{
		position: absolute;
		width: 100%;
		top: 50%;
		color: #FFF;
		margin: 0 auto;
        text-align: center;
        transform: translateY(-50%);
	}
}

.btn{
	border: none!important;
	border-radius: 0px!important;
	padding-top: 7px;
	padding-bottom: 7px;
}

.btn-primary{
	background: #F04903;
	&:hover{
		background: #F04903;
		opacity: 0.9;
	}
}

.success{
	color: #71BA51;
}

.btn-secondary{
	background: #71BA51;
	color: #fff;
	&:hover{
		background: #71BA51;
		color: #fff;
		opacity: 0.9;
	}
}

.space-bottom{
	padding-bottom: 20px;
}

/* FLASH STYLES */
.alert{
  position: absolute;
  top: 0;
  height: 90px;
  width: 100%;
  opacity: 0.9;
  z-index: 999;
  padding:0px!important;
  ul{
    padding:0px!important;
  }
  li{
    list-style-type: none;
    text-align: center;
    line-height: 90px;
  }
}
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

input[type="text"], input[type="number"], input[type="email"], input[type="password"]{
	background-color: #f7f7f7;
	border: none;
}

textarea{
	background-color: #f7f7f7!important;
	border: none!important;
	resize: none;
}

footer{
	background-color: #48493B;
	padding: 20px 0;
	padding-top: 30px;
	text-align: center;
	color: #fff;
	margin-top: 60px;
}