// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark: #4A4A4A;
$red: #EE543A;
$green: #71BA51;
$gray: #BDBDBD;

.products-index{
	margin-top: 20px;
	ul{
		margin-top: 20px;
		list-style-type: none; 
			padding: 0px;
		li{
			padding-bottom: 8px;
		}
	}
	.product-wrapper{
		margin-bottom: 20px;
		color: #FFF;
	}
}

.seller-wrapper{
	padding: 20px;
	background-color: #FFF;
}

.seller-reviews{
	background-color: #FFF;
	padding: 20px;
	margin-top: 20px;
}

.show-product-image-wrapper{
	position: relative;
	color: #FFF;
	margin-bottom: 50px;
	img{
		width: 100%;
		height: auto;
	}
	.title{
		position: absolute;
		width: 100%;
		background-color: #000;
		opacity: 0.8;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.seller-info a{
	color: $dark!important;
}

.other-products{
	margin-top: 20px;
}

.show{
	margin-top: 50px;
	.product-image{
		width: 100%;
		height: auto;
	}
}