// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark: #4A4A4A;
$red: #EE543A;
$green: #71BA51;
$gray: #BDBDBD;

.products-index{
	margin-top: 20px;
	ul{
		margin-top: 20px;
		list-style-type: none; 
			padding: 0px;
		li{
			padding-bottom: 8px;
		}
	}
	.product-wrapper{
		margin-bottom: 20px;
	}
}

.seller-info a{
	color: $dark!important;
}

.other-products{
	margin-top: 20px;
}

.show{
	margin-top: 50px;
	.product-image{
		width: 100%;
		height: auto;
	}
}