<footer>
	<div class="container">
		<div class="row footer-nav">
			<div class="col-md-4">
				<h4>Get Involved</h4>
				<ul>
					<li><a href="#">Register</a></li>
					<li><a href="#">Sign In</a></li>
					<li><a href="#">Feedback</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4>Business</h4>
				<ul>
					<li><a href="#">Gift cards</a></li>
					<li><a href="#">Features</a></li>
					<li><a href="#">Advertisments</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4>About Us</h4>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">How it all works?</a></li>
					<li><a href="#">Our Rules</a></li>
				</ul>
			</div>
		</div>
		<p class="pull-left gray">&copy; Belize Enterprises 2016</p>
		<p class="pull-right gray">From us to you with &#9829;</p>
	</div>
</footer>